
    <div class="row">
          <h2>Contact Us</h2>
          <div class="clearfix">
            <p>We are available by both phone and email to address any questions or concerns you may have.</p>
            <h3>Our Address</h3>
            <p>586 Main Ave, Building 42<br />
              Main City, Country 12345-6789</p>
            <p>T: (555) 123 - 4567<br />
              F: (555) 523 - 4567</p>
            <p>W: <a href="#">http://www.domain.com</a><br />
              E: <a href="#">myemail@domain.com</a></p>
          </div>
    </div>

