<div class="row">
    <div class="col-lg-4">
        <h2>Parts and Service</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h4>Enter Date of Service (mm/dd/yyyy)</h4>
        <div class="input-group col-lg-12">
            <input type="text" class="form-control search-bar" placeholder="Date" aria-describedby="service-date">
        <h4>Full Name</h4>
            <input type="text" class="form-control search-bar" placeholder="Name" aria-describedby="">
            <h4> Email</h4>
            <input type="text" class="form-control search-bar" placeholder="Email" aria-describedby=""
        </div>
        <h4>Enter Service Reason</h4>
        <div class="input-group col-lg-12">
            <select>
                <option value="OilChange">Oil Change</option>
                <option value="Rotatetires">Tire Rotate</option>
                <option value="ChangeWindsheildWipers">Change Windsheild Wipers</option>
                <option value="Repairaflattire">Repair A Flat Tire</option>
            </select>
        </div>
    </div>
    </div>
</div>

<div class="row submit-button">
    <div class="col-lg-6">
        <button type="button" class="btn btn-success">Submit</button>
    </div>
</div>

<!--Check out these links for ideas:-->
<!--http://www.toyota.com/owners/parts-service/service-centers-->
<!--http://www.beavertonhonda.com/ServiceCenter-->
<!--http://www.kunibmw.com/service/index.htm-->
<!--http://www.kunilexusofportland.com/Our-Services-->